body{
    background-color: rgb(241, 228, 228);
}

#containerList{
    display: table;
    margin: 0 auto;
}

li{
    display: inline-block;
    margin: 0px 15px;
    padding: 12px 10px;
}

#header-div{
    margin-top: -9px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgb(63, 51, 51);
}

.items{
     text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 18px;
      color: white;
}
img{
    width: 270px;
    height: 290px;
    border-radius: 35%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    margin-top: 40px;
} 

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: normal;
   

}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    opacity: 30%;
    margin-bottom: 60px;
   
}

.items:hover{
    background-color: white;
    color: black;
    padding: 4px 0px;
    border-radius: 3px;
}

@media screen and (max-width: 600px) {
    .containerMedia li{
        display: table-row;
        text-decoration: none;
        
    }
    .items{
        font-size: 34px;
    }
  }

  .LI-profile-badge{
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin: 0 auto;
    margin-top: 100px;
  }

  h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
  }
  
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
  }

  .box{
      
      border-radius: 5px;
      background-color: rgb(63, 51, 51);
      color: white;
      display: table;
      margin: 0px 100px;
      
  }

  #box2{
      margin-top: 100px;
      margin-left: auto;
    margin-right: auto;
    
  }

  .skills{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    
   
  }

  .box3{
      background-color: white;
      color: rgb(63, 51, 51);
      border-radius: 15px;
      margin: 5px 2px;
      

  }
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    opacity: 60%;
    margin-bottom: 40px;
}
#box3{
    margin-top: 40px;
    clear: both;
}

#image1{
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    border-radius: 0%;
    opacity: 80%;
}


.containerImg{
    display: inline-block;
}

fieldset{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: white;
    opacity: 100%;
    
    
   
    
}

.buttons{
      background-color: white;
      color: rgb(63, 51, 51);
      border-radius: 5px;
      margin: 5px 2px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 15px;
      font-weight: normal;
      text-align: center;
   
    opacity: 100%;
}

#texts{
   position: relative;
   right: 20px;
}

.box{
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin: 0 auto;
    margin-top: 100px;
}

.texts1{
    position: relative;
    left: 25px;
}

#texts2{
    position: relative;
    left: 2px;
}

#texts3{
    position: relative;
    left: 1px;
}

.buttons:hover{
    background-color: rgb(63, 51, 51);
      color: white;
}

#contact{
    border-radius: 5px;
    background-color: rgb(63, 51, 51);
    color: white;
    display: table;
    margin: 0px 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
}

#github{
    width: 70px;
    height: 70px;

    
    
}

#github:hover{
    box-shadow: 5px 5px 15px 5px #000000;
}
#portfolio2{
position: absolute;
    top: 10px;
    align-items: center;
    
    left: 16%;
}

#linkh3{
    color: black;
    text-decoration: none;
}

.linkButton{
    border-radius: 5px;
    background-color: rgb(63, 51, 51);
    color: white;
    display: table;
    margin: 0px 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-weight: normal;
    text-align: center;
    display: table;
   
}

.projects{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

#image1, #image2, #image3{
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: auto;
    border-radius: 0px;
    max-width: 320px;

}

#container-images::after{
    content: "";
    clear: both;
    display: inline-block;

}

.column{
    padding: 5px;
    float: left;
    width: 33.33%;
    
}

#container-images{
    display: flex;
}

@media screen and (max-width: 500px){
    .column {
        width: 100%;
    }
}

#image1{
    position: relative;
    top: 40px;
}


.column:hover{
    opacity: 70%;
}

#image1Para{
   position: relative;
   top: 40px;
    
}

#center{
    position: relative;
    top: 40px;
}
.centered {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    text-align: center;
  }

#porto{
    border-radius: 5px;
    background-color: rgb(63, 51, 51);
    color: white;
    display: table;
    margin: 0px 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
}

#imageLinkedin{
    width: 60px;
    height: auto;
    margin-right: 10px;
}

#imageLinkedin:hover{
    box-shadow: 5px 5px 15px 5px #000000;
}

#github, #imageLinkedin{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    border-radius: 5px;
    margin: 0px 10px;
}

.links{
    text-align: center;
}